@font-face {
  font-family: "TurkcellIconFont";
  src: url("/statics/fonts/TurkcellIconFont.eot");
  src: url("/statics/fonts/TurkcellIconFont.eot?#iefix")
      format("embedded-opentype"),
    url("/statics/fonts/TurkcellIconFont.woff") format("woff"),
    url("/statics/fonts/TurkcellIconFont.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "GreycliffCF";
  src: url("/statics/fonts/GreycliffCF-Bold.eot");
  src: url("/statics/fonts/GreycliffCF-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/statics/fonts/GreycliffCF-Bold.woff2") format("woff2"),
    url("/statics/fonts/GreycliffCF-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "GreycliffCF";
  src: url("/statics/fonts/GreycliffCF-Medium.eot");
  src: url("/statics/fonts/GreycliffCF-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("/statics/fonts/GreycliffCF-Medium.woff2") format("woff2"),
    url("/statics/fonts/GreycliffCF-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "GreycliffCF";
  src: local("GreycliffCF") url("/statics/fonts/GreycliffCF-Regular.eot");
  src: local("GreycliffCF") url("/statics/fonts/GreycliffCF-Regular.eot?#iefix")
      format("embedded-opentype"),
    local("GreycliffCF") url("/statics/fonts/GreycliffCF-Regular.woff2")
      format("woff2"),
    local("GreycliffCF") url("/statics/fonts/GreycliffCF-Regular.woff")
      format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "GreycliffCF";
  src: url("/statics/fonts/GreycliffCF-Light.eot");
  src: url("/statics/fonts/GreycliffCF-Light.eot?#iefix")
      format("embedded-opentype"),
    url("/statics/fonts/GreycliffCF-Light.woff2") format("woff2"),
    url("/statics/fonts/GreycliffCF-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}
