.o-header--top_link{
  margin-left: 45px;
  
  a{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    opacity: .6;
  }
  .a-icon{
    color: #253342;
    vertical-align: middle;
    transform: rotate(180deg);
    margin-top: -4px;
    margin-left: 5px;

    &::before{
      font-size: 22px;
    }
  }
}