.product-list-area {
  .m-card__tariffs{
    flex-direction: row!important;
    padding-right: 0!important;
    margin-top: 15px!important;
    .a-tariff {
      margin: 0 15px 0 0!important;
    }
  }
}