.product-detail-area{

  .with-package-info{
    display: flex;
    justify-content: space-between;
  }
  .a-price__package-info{
    color: #8E9FAD!important;
    font-size: 24px;
    display: flex;
    align-items: flex-start;
    margin-left: 32px;
    margin-top: -10px;
  
    sup{
      color: #8E9FAD;
      font-size: 10px;
      margin-top: -4px;
      margin-left: 1px;
    }
  }
  
  input[type=radio]:checked + .a-price-radio-b__label{
    
    .a-price__package-info,
    sup{
      color: #2855ac!important;
    }
  }
  
  .a-tariff{
    min-height: 135px!important; height: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 20px!important;
  
    &--bordered{
      width: 100%;
      border-radius: 10px;
      text-align: center;
      display: flex;
      align-items: center;
      align-self: flex-end;

      -webkit-box-shadow: inset 0px 0px 0px 1px #979797;
      -moz-box-shadow: inset 0px 0px 0px 1px #979797;
      box-shadow: inset 0px 0px 0px 1px #979797;
    }
    .a-tariff__data{
      font-size: 21px;
      color: #253342;
      display: flex;
  
      sup{
        font-size: 8px;
        color: #253342;
        margin-top: -3px;
      }
    }
    .a-icon{
      transform: rotate(90deg);
    }
    &.large-box{
      min-height: 160px!important;
  
      .a-tariff__data{
        font-size: 48px;
        color: #253342;
  
        sup{
          font-size: 11px;
          margin-top: -10px;
        }
      }
      .a-icon{
        transform: rotate(0deg);
  
        &::before{
          font-size: 35px;
        }
      }
    }
  }
  .product-detail .a-ribbon--container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    background: transparent;
  }
  
  .m-slider__tabs--no-space{
    padding: 0!important;
  
    .swiper-slide{
      width: auto!important;
    }
  }
  
  .m-slider__swiper.swiper-container.with-border{
    border-bottom: 1px solid #DEE3ED;
  }
  .w-100{
    width: 100%!important;
  }
  
  .m-card--misc--full-theme.m-card--misc--green {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#61D46D), to(#25B23E));
    background-image: -o-linear-gradient(top, #61D46D, #25B23E);
    background-image: linear-gradient(to bottom, #61D46D, #25B23E);
    color: #ffffff;
  }
  
  .m-card--misc--full-theme.m-card--misc--green .a-btn-icon {
    background: #ffffff;
    color: #000000;
  }
  
  .m-card--misc--full-theme.m-card--misc--green .m-card__title,
  .m-card--misc--full-theme.m-card--misc--green .m-card__body,
  .m-card--misc--full-theme.m-card--misc--green .m-card__body p,
  .m-card--misc--full-theme.m-card--misc--green .m-card__foot {
    color: #ffffff;
    background: none;
  }
  
  
  .m-card{
  
    &__title{
      height: auto;
      padding: 0;
      line-height: 1;
    }
    &__body{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    &__foot{
      padding: 0.175rem 1.4125rem;
    }
  }
  
  .m-offer-banner{
    height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    &::before{
      background: url('../../assets/images/dummy/Card_Offer_Background.png') no-repeat right center;
      background-size: cover;
    }
  }
  
  .m-product-video-banner{
    border-radius: 10px!important;
  }
  
  #product-detail-subrow{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #product-detail-benefits .benefits-list-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
  }

}

.product-detail-mobile-area{

  .a-tariff{
    min-height: 135px!important; height: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 20px!important;
  
    &--bordered{
      width: 100%;
      border-radius: 10px;
      text-align: center;
      display: flex;
      align-items: center;
      align-self: flex-end;

      -webkit-box-shadow: inset 0px 0px 0px 1px #979797;
      -moz-box-shadow: inset 0px 0px 0px 1px #979797;
      box-shadow: inset 0px 0px 0px 1px #979797;
    }
    .a-tariff__data{
      font-size: 21px;
      color: #253342;
      display: flex;
  
      sup{
        font-size: 8px;
        color: #253342;
        margin-top: -3px;
      }
    }
    .a-icon{
      transform: rotate(90deg);
    }
    &.large-box{
      min-height: 160px!important;
  
      .a-tariff__data{
        font-size: 48px;
        color: #253342;
  
        sup{
          font-size: 11px;
          margin-top: -10px;
        }
      }
      .a-icon{
        transform: rotate(0deg);
  
        &::before{
          font-size: 35px;
        }
      }
    }
  }
  .product-detail-top{

    h1{
      display: flex;
      justify-content: space-between;
      align-items: center;

      .a-icon{
        transform: rotate(-90deg);
      }
    }
  }

  .m-slider__tabs--no-space{
    padding: 0!important;
  
    .swiper-slide{
      width: auto!important;

      &:first-child{margin-left: 0; padding-left: 0;}
      a{
        min-width: auto;
      }
    }
  }
  
  .m-slider__swiper.swiper-container.with-border{
    border-bottom: 1px solid #DEE3ED;
  }
  .w-100{
    width: 100%!important;
  }

  .with-package-info{
    display: flex;
    justify-content: space-between;
  }
  .a-price__package-info{
    color: #8E9FAD!important;
    font-size: 24px;
    display: flex;
    align-items: flex-start;
    margin-left: 32px;
    margin-top: -10px;
  
    sup{
      color: #8E9FAD;
      font-size: 10px;
      margin-top: -4px;
      margin-left: 1px;
    }
  }

  .benefits-list-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
  }

  .m-product-detail-info{
    border-top: 1px solid #dee3ed;
    border-bottom: 1px solid #dee3ed;
  }

  .m-accordion--plus .m-accordion__container .m-accordion__head{
    height: 60px; line-height: 3.6rem;
  }
  .m-accordion--plus .m-accordion__container .m-accordion__head i{
    top: 25px;
  }

  .fixed-bar{
    width: 100%;
    background: #FFFFFF;
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    z-index: 1010;

    box-shadow: 0px 6px 148px -4px rgba(#000000, .2);

    &--bottom{
      top: auto; bottom: 0;
    }
    &__price{
      color: #2855ac;
      font-size: 24px;
      font-weight: 700;
      display: flex;
      align-items: flex-start;

      sup{
        font-size: 10px;
        font-weight: 400;
        margin-top: 3px;
        margin-left: 5px;
      }
    }
  }
}

.rounded-none{
  border-radius: 0!important;
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
}

#header .a-page-back a{
  margin-top: 1rem;
  position: absolute;
  left: 0; top: 0;
  z-index: 99999;
}
.border-top-0   { border-bottom: 0px!important; }
.border-bottom-0{ border-bottom: 0px!important; }