@media only screen and (max-width: 600px) {
  .product-detail-area {
    .m-carousel .m-slider {
      clip-path: url(#m-carousel__clip-path--mobile);
      -webkit-clip-path: url(#m-carousel__clip-path--mobile);
    }
  }
}